/*----------Variables---------*/
:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

/*fuentes*/
@font-face {
    font-family: "Manrope";
    src: local("Manrope-VariableFont_wght.ttf"),
        url('../fonts/Manrope-VariableFont_wght.ttf');
}

/*----------General-------*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    color: var(--Very-Dark-Grayish-Blue);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-size: 13px;
    font-family: Manrope, Verdana, 'Comic Sans';
    background-color: var(--Light-Grayish-Blue);
    text-align: center;
    font-weight: 500 700;
}

/*Opacity*/
.share:hover,
.name:hover,
.attribution a:hover {
    cursor: pointer;
}

/*----Container-----*/
.container {
    width: auto;
    height: auto;
    max-height: 700px;
    margin: 0 auto;
    text-align: center;
}

/*------Card--------*/
.card {
    border-radius: 10px;
    display: flex;
    margin: 13% auto;
    width: 55%;
}

.card-img {
    width: 35%;
    float: left;
    border-radius: 10px 0 0 10px;
}

.card-img img {
    object-fit: cover;
    object-position: -15%;
    border-radius: 10px 0 0 10px;
}

/*----Content-----*/
.card-content {
    background-color: white;
    border-radius: 0 10px 10px 0;
    float: left;
    line-height: 1.5;
    height: auto;
    padding: 25px 15px 15px 30px;
    text-align: initial;
    width: 63%;
}

.card-content-title {
    font-size: 22px;
    margin-bottom: 10px;
    width: 90%;
}

.card-content-text {
    margin-bottom: 15px;
    text-align: justify;
    width: 90%;
}

/*Profile*/
.card-content-profile {
    width: 95%;
    /*overflow: hidden;*/
}

.profile {
    float: left;
    width: 80%;
}

.profile-img {
    border-radius: 50%;
    width: 13%;
    float: left;
}

.profile-datos {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.name {
    display: block;
}

.datetime-pubdate {
    display: block;
    color: var(--Grayish-Blue:);
    font-size: 10px;
}

/*Share*/
.share {
    float: right;
    margin: 5px auto;
    width: 8%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.tooltip .icon-share {
    padding: 7px;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
}

.tooltip .icon-share:hover {
    background-color: var(--Very-Dark-Grayish-Blue);
}

/* Tooltip text */
.tooltip .tooltip-content {
    /*visibility: hidden;*/
    width: calc(100% + 200px);
    background-color: var(--Very-Dark-Grayish-Blue);
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    bottom: calc(100% + 25px);
    left: -15%;
    margin-left: calc(100% - 130px);
    position: absolute;
    z-index: 2;
    transition: opacity .6s;
    height: 50px;
}

.tooltip:hover .tooltip-content {
    visibility: visible;
}

.tooltip .tooltip-text {
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 15px;
}

.tooltip .tooltip-icon {
    margin: 0 5px;

}

/*----------Footer-----------*/
.footer-page {
    width: 100%;
    overflow: hidden;
    /*Limpiando floats*/
}

/*----------Responsive Design-------------*/
/*Responsive Celular*/
@media screen and (max-width: 600px) {
    .card {
        display: block;
        width: 85%;
        max-width: 400px;
        margin: 20px auto;
    }

    .card-content {
        border-radius: 0 0 10px 10px;
        padding: 50px 30px 20px 30px;
        margin-top: -5px;
        max-width: inherit;
        min-height: 360px;
    }

    .card-content,
    .card-img {
        width: 100%;
        float: none;
    }

    .card-img img {
        max-height: 250px;
        object-position: 0 20%;
        border-radius: 10px 10px 0 0;
    }

    .card-content-title,
    .card-content-text {
        width: 95%;
        margin-bottom: 20px;
        line-height: 1.6;
    }

    .card-content-title {
        max-width: 335px;
        font-size: 21px;
    }

    .card-content-text {
        max-width: 285px;
        text-align: left;
        font-size: 15px;
    }

    .profile-img {
        width: 15%;
    }

    .profile-datos {
        width: 75%;
    }

    .tooltip .icon-share {
        position: absolute;
        z-index: 3;
    }

    .tooltip .icon-share:hover {
        background-color: var(--Desaturated-Dark-Blue);
    }

    .tooltip .tooltip-content {
        top: -15px;
        right: -180%;
        border-radius: 0 0 10px 10px;
        height: 60px;
        width: calc(100% + 373px);
        margin-left: auto;
        padding: 15px;
    }
}